<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Multer Upload</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Khoa Pham Training</h1>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="avatar">
            <input type="text" name="username" value="nxhuy96">
            <input type="submit" name="submit" value="Submit">
        </form>
    </body>
</html>