		<li>
			<img class="thumb" src="./images/background/<%= tin.image %>" alt="" />
			<iframe src="http://player.vimeo.com/video/<%= tin.idVideo %>?api=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;color=7d7d7d" videotype="vimeo" width="400" height="225" frameborder="0" webkitAllowFullScreen allowFullScreen></iframe>
			<h3><%= tin.title %></h3>
			<p><%= tin.desc %></p>
		</li>
