<form action="/calcul" method ="post" >
    <input type="text" name="pheptinh" placeholder="pheptinh"/>
    <br>
    <input type="text" name="number1" placeholder="Number1"/>
    <br>
    <input type="text" name="number2" placeholder="Number2"/>
    <br>

    <button>Push</button>
</form>
