<form action="/name" method ="post" >
    <input type="text" name="username" placeholder="Username"/>
    <br>
    <input type="password" name="password" placeholder="Password"/>
    <br>
    <button>Push</button>
    <img src="1.png">
</form>

<br>
